.Section2Container {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.divider {
    flex: 1;
}

.smallTitle{
    display: flex;
    justify-content: flex-start;
    color:cornflowerblue;
}
