.flexGrid {
    display: flex;
    padding-bottom: 50px;
    padding-top: 20px;
  }

  .col1 {
    display: flex;
    flex-flow: column;
    flex: 1;
  }

  .col2 {
    display: flex;
    flex-flow: column;
    flex: 2; 
  }

  .row{
    display: flex; 
    flex-flow: row;
    flex: 1; 
  }

  .data {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items:  center;
    margin: 8px; 
    background-color: gray;
  }

img {
    width: 100%;
    vertical-align: middle;
    height: 100%;
}
