.FormContainer {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

.formStyle{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputs {
    flex: 80%;
}


.grayTitle {
    color: gray;
    font-size: small;
}

.errorMessage {
    color: red;
    font-size: x-small;
}

.SubmitButton {
    border: none;
    background-color: #1167b1;
    color : white;
}
