.Container {
    margin: auto; 
    width: 70%;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}

.Cards {
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom : 40px;
}

.title {
    padding : 50px;
}
