.Container {
    margin: auto; 
    width: 70%;
    display : flex;
    flex-direction: column;
  }

.title {
    padding : 20px;
}

.sectionPicker {
    display: flex;
    justify-content: flex-end;
}

.link {
    color: gray;
    text-decoration: none;
    margin: 5px;
  }